@inherits UmbracoViewPage
@using PlantOasis.lib.Models
@using PlantOasis.lib.Models.UmbracoCmsContent
@using PlantOasis.lib.Repositories.UmbracoCmsContent
@using PlantOasis.lib.Util

@{
    Texty texty = TextyRepository.GetFromUmbraco(Umbraco);
}
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="footer-text-section">
                    <h3>INFOLINKA</h3>
                    <p>Telefón: @texty.PlantOasisTelefon</p>
                    <p>Email: @texty.PlantOasisEmail</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-text-section">
                    <h3>O SPOLOČNOSTI</h3>
                    <ul class="menu">
                        <li class="footer"><a href="@Url.Content("~/home/kontakt")">Kontakt</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-text-section">
                    <h3>ZÁKAZNÍCKA ZÓNA</h3>
                    <ul class="menu">
                        <li><a href="@ConfigurationUtil.EshopRootUrl" title="Všetky produkty"><img src="~/Styles/images/icon.png" alt="icon" class="plant" /></a></li>
                        <li><a href="@Url.Content("~/home/obchodne-podmienky")">Obchodné podmienky</a></li>
                        <li><a href="@Url.Content("~/home/reklamacny-poriadok")">Reklamačný poriadok</a></li>
                        <li><a href="@Url.Content("~/home/gdpr/")" target="_blank">Zásady ochrany osobných údajov </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-text-section">
                    <h3>SOCIÁLNE SIETE</h3>
                    <div class="content-social">
                        <a class="square-icon" href="https://www.facebook.com/plant-oasis.sk" target="_blank" title="Facebook"><i class="fab fa-facebook fa-fw"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-2">
                    <img class="img-responsive" src="@Url.Content("~/Styles/images/Logo3.png")" alt="PlantOasis" />
                </div>
                <div class="col-md-10">
                    <p>Telefón: +421 949 347 120</p>
                    <p>Email: nikolavaniscakova@gmail.com</p>
                    <p class="copyright">&copy; <a href="@Url.Content("~/umbraco")" class="umb">plant-oasis.sk</a> @DateTime.Today.Year.ToString(), všetky práva na obsah vyhradené</p>
                    <p>Nikola Vaniščáková - tvorba webových stránok</p>
                </div>
            </div>
        </div>
     </div>
</footer>