@inherits Umbraco.Web.Mvc.UmbracoViewPage<PlantOasis.lib.Models.LostPasswordModel>

@if (TempData["success"] != null)
{
    <div class="message-div">
        <h1>ZABUDNUTÉ HESLO</h1>
        <p>Na zadanú e-mailovú adresu boli odoslané inštrukcie na obnovenie prístupu na plant-oasis.sk</p>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1>ZABUDNUTÉ HESLO</h1>
            <div class="plantoasis-form">
                @using (Html.BeginUmbracoForm<PlantOasis.lib.Controller.CustomerRegisterController>("SubmitLostPassword", null, new { @class = "form-horizontal", role = "form" }))
                {
                    <div class="form-item">
                        <label for="Email">Zadajte vašu e-mailovú adresu</label>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "E-mailová adresa" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>

                    @Html.ValidationSummary(true)

                    <div class="form-item">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="links">
                                    <a href="@Url.Content("~/home/registracia")">Registrácia</a>
                                    &nbsp;
                                    <a href="@Url.Content("~/home/zakaznicka-sekcia/prihlasenie")">Prihlásenie</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="submit">
                                    <a href="#" onclick="document.getElementById('submitLoginButton').click(); return false;" class="btn btn-primary btn-lg">Obnoviť prístup</a>
                                    <input type="submit" id="submitLoginButton" class="hidden" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
